{% extends "pdfmanager/base.html"%}
{% load static %}
{% block content %}
<section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-dark text-light mx-auto" id="card-merge">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-file-earmark-break"></i>
              </div>
              <h3 class="card-title mb-3">PDF Decrypt</h3>
              <p class="card-text">
                Select a file which you want to decrypt.
              </p>
            <form name="rotate-form" action="{% url 'pdfdecrypt' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mx-auto">
                    <input type="file" class="form-control my-2" id="inputFile" name="inputFile" accept=".pdf">
                </div>
                <div class="input-group mx-auto">
                    <label for="inputGroupPasswd" class="form-label m-3">Decryption Password:</label>
                    <input type="password" class="form-control my-2" id="inputGroupPasswd" name="inputGroupPasswd">
                </div>
                <input type="submit" class="btn btn-warning align-self-end my-3" id="file-sub" value="Next"/>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> 
{% endblock content %}