{% extends "pdfmanager/base.html"%}
{% load static %}
{% block content %}
<section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-dark text-light mx-auto" id="card-merge">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-intersect"></i>
              </div>
              <h3 class="card-title mb-3">PDF Merge</h3>
              <p class="card-text">
                Please upload 2 or more PDF files which need to be merged.
              </p>
            <form name="merge-form" action="{% url 'pdfmergedownload' %}" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="input-group mx-auto">
                    <input type="file" class="form-control my-2" id="inputGroupFile" name="inputGroup1" accept=".pdf"> 
                </div>
                <div class="input-group mx-auto">
                    <input type="file" class="form-control my-2" id="inputGroupFile" name="inputGroup2" accept=".pdf"> 
                </div>
                
                <div id="ig"></div>
                <input type="hidden" value="3" id="total_chq">
                <input type="button" class="btn btn-warning m-3"  value="Add Another File" onclick="createNewInputGrp();"/>
                <input type="submit" class="btn btn-warning align-self-end" value="Merge" id="file-sub"/>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>    
{% endblock content %}